<html lang='en'>
  <head>
    <meta charset='UTF-8' />
      <link rel='icon' type='image/png' href='https://drapcode-upload.s3.amazonaws.com/faviconKeyName' />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta property="og:type" content="website">
      <meta name="title" content="Dashboard">
      <meta property="og:title" content="Dashboard">
      <meta property="twitter:title" content="Dashboard">
      <meta property="og:image" content="https://drapcode-upload.s3.amazonaws.com/projectLogoKeyName">
      <meta property="twitter:image" content="https://drapcode-upload.s3.amazonaws.com/projectLogoKeyName">
      <meta property="og:url" content="/dashboard.html">
      <meta property="twitter:url" content="/dashboard.html">
      <meta charset="UTF-8">
    <title>Dashboard</title>
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="preload" href="https://asset.drapcode.com/css/googlefonts.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/googlefonts.css"></noscript>
      <link rel="stylesheet" href='https://drapcode-theme.s3.us-east-1.amazonaws.com/6vg94hu0147l78rag2n3z9z10hq2/dc-custom.min.css' crossorigin/>
      
      <link rel="preload" href="https://asset.drapcode.com/css/toastr.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/toastr.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/sweetalert2.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/sweetalert2.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/select2.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/select2.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/flatpickr.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/flatpickr.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/loader.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/loader.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/all.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/coloris.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/coloris.min.css"></noscript>
      <link rel='stylesheet' type='text/css' href='https://asset.drapcode.com/intl-tel-input/intlTelInput.min.css'>
      <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css'>
      <link rel='stylesheet' type='text/css' href='https://unpkg.com/dropzone@5/dist/min/dropzone.min.css'>
      <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css'>
      <link href='https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.14.1/jquery.timepicker.min.css" />
      <link rel="stylesheet" href='https://drapcode-static.s3.amazonaws.com/global-theme/bootstrap5/cerulean/bootstrap.min.css' crossorigin/>
      <link rel='stylesheet' type='text/css' href=/static/6vg94hu0147l78rag2n3z9z10hq2/testingproject11828-custom-20250407T112736601Z.min.css>
      <link rel='preload' href=/static/6vg94hu0147l78rag2n3z9z10hq2/testingproject11828-events-20250407T112736601Z.min.js as='script'></link>
      
  <script>
      const publishTimestamp = '20250407T112736601Z';
      if (publishTimestamp) {
        const currentTimestamp = new Date().toISOString().replace(/[-:.]/g, "");
        // Convert timestamps to valid ISO 8601 format
        const formattedPublishTimestamp = publishTimestamp.replace(
          /(\d{8}T\d{6})\d+Z/,
          "$1Z"
        );
        const formattedCurrentTimestamp = currentTimestamp.replace(
          /(\d{8}T\d{6})\d+Z/,
          "$1Z"
        );
        // Convert to proper Date format (YYYY-MM-DDTHH:MM:SSZ)
        const isoPublishTimestamp = formattedPublishTimestamp.replace(
          /(\d{4})(\d{2})(\d{2})T(\d{2})(\d{2})(\d{2})Z/,
          "$1-$2-$3T$4:$5:$6Z"
        );
        const isoCurrentTimestamp = formattedCurrentTimestamp.replace(
          /(\d{4})(\d{2})(\d{2})T(\d{2})(\d{2})(\d{2})Z/,
          "$1-$2-$3T$4:$5:$6Z"
        );
        // Parse timestamps into Date objects
        const publishDate = new Date(isoPublishTimestamp);
        const currentDate = new Date(isoCurrentTimestamp);
        // Check for Invalid Date
        if (isNaN(publishDate) || isNaN(currentDate)) {
          console.error("Invalid Date detected!");
        }
        // Calculate time difference in milliseconds
        const diffMs = Math.abs(currentDate - publishDate);
        // Convert milliseconds to hours
        const diffHours = diffMs / (1000 * 60 * 60);
        const publishTimeSuffix = diffHours > 1 ? "hours" : "minutes";
        const publishTimeMessage =
          diffHours.toFixed(2) + " " + publishTimeSuffix + " ago...";
        console.log("==> Published " + publishTimeMessage);
      }
    </script>
  
      <script>
      console.log('==> Removing __ssr_ keys from session storage...');
      Object.keys(window.sessionStorage).map(sessionKey => {
        if(sessionKey.startsWith('__ssr_')) {
        window.sessionStorage.removeItem(sessionKey);
        }
      });
    </script>
      <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      window.localStorage.setItem('loadingIconKey', 'PLACEHOLDER')
  });
    </script>
      <script>
      window.localStorage.setItem('debugMode', 'false');
      if (!false) {
        console.log('==> Disabling console log|info...');
        console.log = function () {};
        console.info = function () {};
      }
    </script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/jquery.min.js"></script>
      <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js" integrity="sha256-sw0iNNXmOJbQhYFuC9OF2kOlD5KQKe1y5lfBn4C9Sjg=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/popper.min.js" defer></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/feather.min.js" defer></script>
      <script src='https://drapcode-theme.s3.us-east-1.amazonaws.com/6vg94hu0147l78rag2n3z9z10hq2/bootstrap.bundle.min.js' defer></script>
    <style>
      .error { border-color: red; color: red; }
    </style>
      <style>* { box-sizing: border-box; } body {margin: 0;}#ib0qh{min-height:12rem;}#inj6f{min-height:12rem;}#iny68{min-height:12rem;}footer{position:relative;font-weight:400;font-size:15px;width:100%;bottom:0;right:0;left:0;clear:both;}ul{padding:0;margin:0;}li{list-style:none;}a:focus, a:hover{text-decoration:none;-webkit-transition:.3s ease;-o-transition:.3s ease;transition:.3s ease;}a:focus{outline:0;}img{max-width:100%;}p{font-size:16px;line-height:30px;color:#363940;font-weight:300;}h4{margin:0;font-weight:400;padding:0;color:#363940;}a{color:#007bff;}.no-padding{padding:0 !important;}.footer--relative{position:relative;}.footer-big{padding:105px 0 65px 0;margin-top:1rem;}.footer-big .footer-widget{margin-bottom:40px;}.footer--light{background:#e9ecef;}.footer-big .footer-menu ul li a, .footer-big p, .footer-big ul li{color:#363940;}.footer--dark h4, .footer--dark .footer-big p, .footer--dark .footer-menu ul li a, .footer--dark .footer-big ul li{color:#e9ecef;}.footer-menu{padding-left:48px;}.footer-menu ul li a{font-size:15px;line-height:32px;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;}.footer-menu ul li a:hover{color:#0056b3;}.footer-menu--1{width:100%;}.footer-widget-title{line-height:42px;margin-bottom:10px;font-size:18px;}.mini-footer{background:#192027;text-align:center;padding:32px 0;}.mini-footer p{margin:0;line-height:26px;font-size:15px;color:#999;}.mini-footer p a{color:#007bff;}.mini-footer p a:hover{color:#34bfa3;}.widget-about img{display:block;margin-bottom:30px;}.widget-about p{font-weight:400;}.widget-about .contact-details{margin:30px 0 0 0;}.widget-about .contact-details li{margin-bottom:10px;}.widget-about .contact-details li:last-child{margin-bottom:0;}.widget-about .contact-details li span{padding-right:12px;}.widget-about .contact-details li a{color:#007bff;}.card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;}.card-body{flex:1 1 auto;padding:1.25rem;}.card-title{margin-bottom:.75rem;}.card-text:last-child{margin-bottom:0;}.card-link+.card-link{margin-left:1.25rem;}#inmef{border-top:1px none #abadaf;background-color:rgb(248, 249, 250);}.jumbotron{padding:2rem 1rem;margin-bottom:2rem;background-color:#e9ecef;border-radius:.3rem;}.jumbotron-fluid{padding-right:0;padding-left:0;border-radius:0;}#isug4{min-height:150px;background-color:rgba(0,0,0,0);}#iclbm{margin:0 0 50px 0;}#igfpa{min-height:12rem;}#iuozg{min-height:12rem;}#ik52p{min-height:12rem;}#i891nf{min-height:12rem;}#i7fwfh{min-height:12rem;}.card-img-top{width:100%;border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}.btn:not(:disabled):not(.disabled){cursor:pointer;}.btn-primary{color:#fff;background-color:#007bff;border-color:#007bff;}.btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}.text-muted{color:#6c757d !important;}#i11zwu{min-height:25px;}#ilwkqc{min-height:100px;}#ikws2p{min-height:100px;}#id0cmd{min-height:100px;}#iv3xrd{text-align:left;}#iu18dg{min-height:12rem;background-image:url('https://picsum.photos/1920/400');background-repeat:no-repeat;background-position:center center;background-attachment:scroll;background-size:cover;}#itve81{min-height:12rem;}#itai3z{min-height:12rem;height:350px;}@media (max-width:991px){.footer-menu{padding-left:0;}}</style>
      <style>undefined</style>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body dir='ltr'>
    
    
    <span id='project-timezone' hidden style='display:none;'>0</span>
    <span id='dateTimeFormat' hidden style='display:none;'>YYYY-MM-DD</span>
    <span id='dcmeta' hidden data-publish='20250407T112736601Z' style='display:none;'></span>
    <nav id="ify5" class="navbar navbar-expand-lg bg-light navbar-light container"><a href="#" class="navbar-brand">DrapCode</a><button type="button" data-toggle="collapse" data-target="#dc-nb-zuIaIWPL" aria-controls="dc-nb-zuIaIWPL" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button><div id="dc-nb-zuIaIWPL" class="collapse navbar-collapse justify-content-end"><ul class="navbar-nav justify-content-end" id="idzs"><li class="nav-item active"><a href="#" class="nav-link">Home <span class="sr-only">(current)</span></a></li><li class="nav-item"><a href="#" class="nav-link">Features</a></li><li class="nav-item"><a href="#" class="nav-link">Pricing</a></li><li class="nav-item"><a href="#" class="nav-link">Contact</a></li></ul></div></nav><div data-js="drapcode-sections" class="dc-sections" id="iuh0ox">
      <div class="container-fluid" id="iu18dg"><div class="row" id="itve81"><div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="itai3z">
  </div></div></div></div><div data-js="drapcode-sections" class="dc-sections" id="igf9u">
      <div class="container" id="ib0qh"><div class="row" id="inj6f"><div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="iny68">
  <div class="jumbotron jumbotron-fluid" id="isug4"><div class="jumbotron-body"><h1 id="ihj2i">This is Dashboard Page Heading</h1><p class="lead" id="i51fh">Do duis nisi amet do. Voluptate aliqua nulla fugiat labore consequat consectetur quis. In officia mollit incididunt labore minim ea nulla laboris reprehenderit non enim.<br>Aliquip quis consectetur et ut officia elit ullamco commodo adipisicing occaecat ullamco velit in dolore. Incididunt aliquip sit irure tempor dolor velit eiusmod id qui ex ad est sit. Dolore deserunt id irure irure qui velit commodo officia sint aliqua qui nisi.<br>Dolore incididunt laborum labore nisi aliquip do excepteur dolor magna esse fugiat do. Nisi officia cupidatat sunt ex sint reprehenderit deserunt non do amet nisi labore. Eiusmod est labore adipisicing proident velit incididunt in incididunt. Ipsum commodo ullamco minim aute quis. Dolor fugiat labore laborum dolor aliquip tempor veniam reprehenderit adipisicing do pariatur.</p></div></div></div></div></div></div><div data-js="drapcode-sections" class="dc-sections" id="img27j">
      <div class="container" id="ilwkqc"><div class="row" id="ikws2p"><div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="id0cmd">
  <h2 id="iv3xrd">This is Sub-Heading<br></h2></div></div></div></div><div data-js="drapcode-sections" class="dc-sections" id="iclbm">
      <div class="container" id="igfpa"><div class="row" id="iuozg"><div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" id="ik52p">
  <div class="card card-image" id="i54a7j"><img src="https://picsum.photos/831/350" alt="Card image cap" id="i11zwu" class="card-img-top"><div class="card-body" id="iqkf0m"><h5 class="card-title">Card title</h5><p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p><p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p><a role="button" href="#" class="btn btn-primary">Go somewhere</a></div></div></div><div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" id="i891nf">
  <div class="card card-image" id="ihbjvf"><img src="https://picsum.photos/831/350" alt="Card image cap" id="i57afo" class="card-img-top"><div class="card-body"><h5 class="card-title">Card title</h5><p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p><p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p><a role="button" href="#" class="btn btn-primary">Go somewhere</a></div></div></div><div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" id="i7fwfh">
  <div class="card card-image" id="ifm3ef"><img src="https://picsum.photos/831/350" alt="Card image cap" id="i398yf" class="card-img-top"><div class="card-body"><h5 class="card-title">Card title</h5><p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p><p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p><a role="button" href="#" class="btn btn-primary">Go somewhere</a></div></div></div></div></div></div><footer class="footer-area footer--light footer--relative" id="inmef"><div class="footer-big" id="iuvnh"><div class="container"><div class="row"><div class="col-md-3 col-sm-12"><div class="footer-widget"><div class="widget-about"><img src="https://picsum.photos/250/80" alt="" id="iwmzl" class="img-fluid"><p>We are a young company always looking for new and creative ideas to help you with our products in your everyday work.</p><ul class="contact-details"><li><span class="icon-earphones"></span> Call Us:
                <a href="tel:XXX-XXX-XXX">XXX-XXX-XXX</a></li><li><span class="icon-envelope-open"></span><a href="mailto:support@drapcode.com">support@drapcode.com</a></li></ul></div></div></div><div class="col-md-3 col-sm-4"><div class="footer-widget"><div class="footer-menu footer-menu--1"><h4 class="footer-widget-title">Popular Category</h4><ul><li><a href="#">Category #1</a></li><li><a href="#">Category #2</a></li><li><a href="#">Category #3</a></li><li><a href="#">Category #4</a></li><li><a href="#">Category #5</a></li></ul></div></div></div><div class="col-md-3 col-sm-4"><div class="footer-widget"><div class="footer-menu"><h4 class="footer-widget-title">Our Company</h4><ul><li><a href="#">About Us</a></li><li><a href="#">How It Works</a></li><li><a href="#">Testimonials</a></li><li><a href="#">Contact Us</a></li><li><a href="#">Blog</a></li></ul></div></div></div><div class="col-md-3 col-sm-4"><div class="footer-widget"><div class="footer-menu no-padding"><h4 class="footer-widget-title">Help Support</h4><ul><li><a href="#">Support Forum</a></li><li><a href="#">Terms & Conditions</a></li><li><a href="#">Support Policy</a></li><li><a href="#">FAQs</a></li></ul></div></div></div></div></div></div><div class="mini-footer"><div class="container"><div class="row"><div class="col-md-12"><div class="copyright-text"><p>Copyright 2024
            <a href="#">DrapCode</a>. All rights reserved.
          </p></div></div></div></div></div></footer>
      <script type="text/javascript" src="/resources/constant.js"></script>
      <script type="text/javascript" src="/resources/drapcode.min.js"></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/jquery.validate.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/math.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/moment.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/numeral.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/voca.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/additional-methods.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/select2.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/bootbox.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/papaparse.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/flatpickr.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/toastr.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/axios.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/sweetalert2.all.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/coloris.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/intl-tel-input/intlTelInput-jquery.min.js"></script>
      <script type="text/javascript" src="https://asset.drapcode.com/intl-tel-input/utils.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
      <script type="text/javascript" src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
      <script type="text/javascript" src="/resources/action/emailActions.js"></script>
      <script type="text/javascript" src="/resources/action/smsActions.js"></script>
      <script type="text/javascript" src="/resources/action/fileUploadActions.js"></script>
      <script type="text/javascript" src="/resources/action/modalActions.js"></script>
      <script type="text/javascript" src="/resources/webconnect.js"></script>
      <script type="text/javascript" src="/resources/dataLoader.min.js"></script>
      <script type="text/javascript" src="/resources/drapcode.body.min.js"></script>
      <script type="text/javascript" src="/resources/drapcode.modal.min.js"></script>
      <script type="text/javascript" src="/resources/action/awsSnsActions.js"></script>
      <script type="text/javascript" src="/resources/action/docusignActions.js"></script>
      <script type="text/javascript" src="/resources/action/anyFileToTextActions.js"></script>
      <script type="text/javascript" src="/resources/action/textAnonymizationActions.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
      <script src="https://unpkg.com/@popperjs/core@2"></script>
      <script src="https://unpkg.com/tippy.js@6"></script>
      <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.1.0/dist/chartjs-plugin-annotation.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/tinycolor2@1.6.0/cjs/tinycolor.min.js"></script>
      
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/timepicker@1.14.1/jquery.timepicker.min.js"></script>
      <script>for(var items=document.querySelectorAll("#ify5"),i=0,len=items.length;i<len;i++)!function(){console.log("Navbar Script")}.bind(items[i])();for(i=0,len=(items=document.querySelectorAll("#dc-nb-zuIaIWPL")).length;i<len;i++)!function(){console.log("Navbar Container Script")}.bind(items[i])();</script>
      <script src=/static/6vg94hu0147l78rag2n3z9z10hq2/testingproject11828-events-20250407T112736601Z.min.js defer></script>
    
    
  </body>
</html>