<html lang='en'>
  <head>
    <meta charset='UTF-8' />
      <link rel='icon' type='image/png' href='https://drapcode-upload.s3.amazonaws.com/faviconKeyName' />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta property="og:type" content="website">
      <meta name="title" content="Change Password">
      <meta property="og:title" content="Change Password">
      <meta property="twitter:title" content="Change Password">
      <meta property="og:image" content="https://drapcode-upload.s3.amazonaws.com/projectLogoKeyName">
      <meta property="twitter:image" content="https://drapcode-upload.s3.amazonaws.com/projectLogoKeyName">
      <meta property="og:url" content="/change-password.html">
      <meta property="twitter:url" content="/change-password.html">
      <meta charset="UTF-8">
    <title>Change Password</title>
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="preload" href="https://asset.drapcode.com/css/googlefonts.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/googlefonts.css"></noscript>
      <link rel="stylesheet" href='https://drapcode-theme.s3.us-east-1.amazonaws.com/6vg94hu0147l78rag2n3z9z10hq2/dc-custom.min.css' crossorigin/>
      
      <link rel="preload" href="https://asset.drapcode.com/css/toastr.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/toastr.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/sweetalert2.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/sweetalert2.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/select2.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/select2.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/flatpickr.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/flatpickr.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/loader.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/loader.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/all.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/coloris.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/coloris.min.css"></noscript>
      <link rel='stylesheet' type='text/css' href='https://asset.drapcode.com/intl-tel-input/intlTelInput.min.css'>
      <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css'>
      <link rel='stylesheet' type='text/css' href='https://unpkg.com/dropzone@5/dist/min/dropzone.min.css'>
      <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css'>
      <link href='https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.14.1/jquery.timepicker.min.css" />
      <link rel="stylesheet" href='https://drapcode-static.s3.amazonaws.com/global-theme/bootstrap5/cerulean/bootstrap.min.css' crossorigin/>
      <link rel='stylesheet' type='text/css' href=/static/6vg94hu0147l78rag2n3z9z10hq2/testingproject11828-custom-20250407T112736601Z.min.css>
      <link rel='preload' href=/static/6vg94hu0147l78rag2n3z9z10hq2/testingproject11828-events-20250407T112736601Z.min.js as='script'></link>
      
  <script>
      const publishTimestamp = '20250407T112736601Z';
      if (publishTimestamp) {
        const currentTimestamp = new Date().toISOString().replace(/[-:.]/g, "");
        // Convert timestamps to valid ISO 8601 format
        const formattedPublishTimestamp = publishTimestamp.replace(
          /(\d{8}T\d{6})\d+Z/,
          "$1Z"
        );
        const formattedCurrentTimestamp = currentTimestamp.replace(
          /(\d{8}T\d{6})\d+Z/,
          "$1Z"
        );
        // Convert to proper Date format (YYYY-MM-DDTHH:MM:SSZ)
        const isoPublishTimestamp = formattedPublishTimestamp.replace(
          /(\d{4})(\d{2})(\d{2})T(\d{2})(\d{2})(\d{2})Z/,
          "$1-$2-$3T$4:$5:$6Z"
        );
        const isoCurrentTimestamp = formattedCurrentTimestamp.replace(
          /(\d{4})(\d{2})(\d{2})T(\d{2})(\d{2})(\d{2})Z/,
          "$1-$2-$3T$4:$5:$6Z"
        );
        // Parse timestamps into Date objects
        const publishDate = new Date(isoPublishTimestamp);
        const currentDate = new Date(isoCurrentTimestamp);
        // Check for Invalid Date
        if (isNaN(publishDate) || isNaN(currentDate)) {
          console.error("Invalid Date detected!");
        }
        // Calculate time difference in milliseconds
        const diffMs = Math.abs(currentDate - publishDate);
        // Convert milliseconds to hours
        const diffHours = diffMs / (1000 * 60 * 60);
        const publishTimeSuffix = diffHours > 1 ? "hours" : "minutes";
        const publishTimeMessage =
          diffHours.toFixed(2) + " " + publishTimeSuffix + " ago...";
        console.log("==> Published " + publishTimeMessage);
      }
    </script>
  
      <script>
      console.log('==> Removing __ssr_ keys from session storage...');
      Object.keys(window.sessionStorage).map(sessionKey => {
        if(sessionKey.startsWith('__ssr_')) {
        window.sessionStorage.removeItem(sessionKey);
        }
      });
    </script>
      <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      window.localStorage.setItem('loadingIconKey', 'PLACEHOLDER')
  });
    </script>
      <script>
      window.localStorage.setItem('debugMode', 'false');
      if (!false) {
        console.log('==> Disabling console log|info...');
        console.log = function () {};
        console.info = function () {};
      }
    </script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/jquery.min.js"></script>
      <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js" integrity="sha256-sw0iNNXmOJbQhYFuC9OF2kOlD5KQKe1y5lfBn4C9Sjg=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/popper.min.js" defer></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/feather.min.js" defer></script>
      <script src='https://drapcode-theme.s3.us-east-1.amazonaws.com/6vg94hu0147l78rag2n3z9z10hq2/bootstrap.bundle.min.js' defer></script>
    <style>
      .error { border-color: red; color: red; }
    </style>
      <style>* { box-sizing: border-box; } body {margin: 0;}#i36j{padding:12px;min-height:auto;}#ies3{display:none;}#i1e56{display:none;}</style>
      <style>undefined</style>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body dir='ltr'>
    
    
    <span id='project-timezone' hidden style='display:none;'>0</span>
    <span id='dateTimeFormat' hidden style='display:none;'>YYYY-MM-DD</span>
    <span id='dcmeta' hidden data-publish='20250407T112736601Z' style='display:none;'></span>
    <div data-js="drapcode-sections" class="dc-sections" id="i36j">
      <div class="container"><div class="row"><div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <form onsubmit="return changePassword(event)" data-js="change-password-form" class="form change-password-form dc-form-default dc-form-bordered" id="itc3"><div class="col-12 col-md-12"><h4 class="title">Change Password</h4></div><div draggable="false" class="form-container row mx-auto"><div class="alert alert-danger alert-message" id="ies3"></div><div class="alert alert-success success-message" id="i1e56"></div><div class="form-group col-12 col-md-12"><label class="label">Old Password</label><input name="oldPassword" placeholder="Old Password" type="password" required class="form-control input--style"></div><div class="form-group col-12 col-md-12"><label class="label">New Password</label><input name="password" placeholder="New Password" type="password" required class="form-control input--style"></div><div class="form-group col-12 col-md-12"><label class="label">Confirm Password</label><input name="confirmPassword" type="password" placeholder="Confirm Password" required class="form-control input--style"></div><div class="form-group p-t-10 no-border-bottom col-12 col-md-12"><button role="button" type="submit" class="btn btn-primary">Update Password</button></div></div></form></div></div></div></div>
      <script type="text/javascript" src="/resources/constant.js"></script>
      <script type="text/javascript" src="/resources/drapcode.min.js"></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/jquery.validate.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/math.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/moment.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/numeral.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/voca.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/additional-methods.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/select2.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/bootbox.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/papaparse.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/flatpickr.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/toastr.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/axios.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/sweetalert2.all.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/coloris.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/intl-tel-input/intlTelInput-jquery.min.js"></script>
      <script type="text/javascript" src="https://asset.drapcode.com/intl-tel-input/utils.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
      <script type="text/javascript" src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
      <script type="text/javascript" src="/resources/action/emailActions.js"></script>
      <script type="text/javascript" src="/resources/action/smsActions.js"></script>
      <script type="text/javascript" src="/resources/action/fileUploadActions.js"></script>
      <script type="text/javascript" src="/resources/action/modalActions.js"></script>
      <script type="text/javascript" src="/resources/webconnect.js"></script>
      <script type="text/javascript" src="/resources/dataLoader.min.js"></script>
      <script type="text/javascript" src="/resources/drapcode.body.min.js"></script>
      <script type="text/javascript" src="/resources/drapcode.modal.min.js"></script>
      <script type="text/javascript" src="/resources/action/awsSnsActions.js"></script>
      <script type="text/javascript" src="/resources/action/docusignActions.js"></script>
      <script type="text/javascript" src="/resources/action/anyFileToTextActions.js"></script>
      <script type="text/javascript" src="/resources/action/textAnonymizationActions.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
      <script src="https://unpkg.com/@popperjs/core@2"></script>
      <script src="https://unpkg.com/tippy.js@6"></script>
      <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.1.0/dist/chartjs-plugin-annotation.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/tinycolor2@1.6.0/cjs/tinycolor.min.js"></script>
      
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/timepicker@1.14.1/jquery.timepicker.min.js"></script>
      <script></script>
      <script src=/static/6vg94hu0147l78rag2n3z9z10hq2/testingproject11828-events-20250407T112736601Z.min.js defer></script>
    
    
  </body>
</html>